@import '~css/public.scss';

.history-order {
  .no-data {
    width: 1rem;
    margin: .3rem auto;
    text-align: center;
    .icon-B-Copy2 {
      font-size: .5rem;
      color: $minor;
    }
    .txt {
      font-size: .16rem;
      color: $minor;
    }
  }
  .order-item:first-child {
    border-top:0;
  }
  .order-item{
    border-top:.15rem solid $pageBg;
    padding:.15rem;
    cursor:pointer;
    .order-title {
      display:flex;
      justify-content : space-between;
      .order-type {
        display: flex;
        align-items:center;
        .buy {
          color:$buy;
        }
        .sell {
          color:$sell;
        }
        .order-time{
          font-size:.12rem;
          color:$minor;
          padding-left:.1rem;
        }
      }
      .order-state {
        display: flex;
        align-items : center;
        .success {
          color:$buy;
        }
        .fail {
          color:$minor;
        }
        .arrow {
          width:.1rem;
          height:.1rem;
          display: block;
          border-top:.01rem solid $minor;
          border-left:.01rem solid $minor;
          transform : rotate(135deg);
        }
      }
    }
    .order-list {
      li {
        display: flex;
        height:.45rem;
        align-items:center;
        justify-content:space-between;
      }
    }

  }

  .Container {
    padding:0;
    border:0;
  }
}
