.NameInfo{
    width: 100%;
    padding: .1rem .2rem;
    margin-bottom: .2rem;
    border-radius: .05rem;
    background: url('../../images/bg/bg5.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.2);
    .clickWrap{
        width: 100%;
        >h3{
            padding: .05rem 0;
            line-height: .3rem;
            font-size: .18rem;
            color: #fff;
            overflow: hidden;
            span{
                float: left;
                width: .9rem;
            }
            em{
                display: block;
                overflow: hidden;
                word-break: break-all;
                a{
                    float: right;
                    padding: 0 .1rem;
                    margin: .05rem 0;
                    height: .2rem;
                    line-height: .2rem;
                    font-size: .12rem;
                    border: .01rem solid #fff;
                    border-radius: .15rem;
                }
            }
        }
    }
}