@import '~css/public.scss';

.DefaultImage{
    width: 100%;
    border-top: .4rem solid transparent;
    border-bottom: .4rem solid transparent;
    padding-top: 2.2rem;
    height: 100%;
    text-align: center;
    background: transparent url('') no-repeat center 1rem;
    background-size: 1rem;
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
    &.insert{
        border-top: none;
        padding-top: 1.6rem;
        padding-bottom: .8rem;
        background-color: #fff;
        background-position: center .8rem;
        background-size: .8rem;
        position: relative;
    }
    &.active{
        display: block;
    }
    .DefaultImageHint{
        color: $minor;
    }
}