@import '~css/public.scss';

.Container{
    width: 100%;
    border-top: .4rem solid transparent;
    border-bottom: .5rem solid transparent;
    padding: 0 $padding2;
    margin: 0 auto;
    background-color: $bg;
    position: relative;
    @media all and (min-width:376px){
        width: 3.75rem;
    }
}

