.CardList{
    width: 100%;
    padding: .1rem .2rem;
    height: 1rem;
    margin-bottom: .2rem;
    border-radius: .05rem;
    background-image: linear-gradient(120deg,#2360a2,#2566cb);
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.2);
    &.red{
        background-image: linear-gradient(120deg,#c87d90,#b25467);
    }
    &.green{
        background-image: linear-gradient(120deg,#61beb8,#3a978a);
    }
    h3{
        line-height: .3rem;
        color: #fff;
        overflow: hidden;
        span{
           font-size: .18rem;
        }
        i{
            float: right;
            font-size: .18rem;
        }
    }
    h4{
        line-height: .5rem;
        font-size: .16rem;
        color: #fff;
    }
}