@import '../../../css/public.scss';
.tabs {
  .Container{
    border-top: none;
  }
  .tabs-nav {
    display: flex;
    background-color:$bg;
    .icon-A-2 {
      font-size:.16rem;
    }
  }
  li.active {
    border-bottom:.01rem solid $main;
    color:$main;
  }
  li {
    flex:1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:.39rem;
    .icon {
      padding-right:.09rem;
    }
  }
}
