@import '~css/public.scss';
  .filter-content {
    padding:0 .2rem;
    background-color:$bg;
    .filter-item {
      h2 {
        font-size : .16rem;
        color:$minor;
        padding:.3rem 0 .15rem 0;
      }
      ul {
        display:flex;
        li {
          button {
            background-color:$grayText;
            padding : .06rem .20rem;
            border-radius:.01rem;
            margin-right:.1rem;
            border : .01rem solid transparent;
            overflow:hidden;
            position:relative;
            cursor:pointer;
            span {
              font-size:.12rem;
            }
          }
        }
        li.active {
            button {
              border-color:$main;
              color:$main;
              background-color:$bg;
            }
          .hook {
            position: absolute;
            bottom:-0.15rem;
            right:-0.15rem;
            font-size:.01rem;
            background-color:$main;
            width:.30rem;
            height:.30rem;
            transform : rotate(45deg);
            display:flex;
            &:before {
              content : '';
              display:block;
              width:0.04rem;
              height:0.08rem;
              border-top:1px solid $bg;
              border-left:1px solid $bg;
              transform : rotate(-175deg) translate(-0.04rem,-0.08rem);
            }
          }
        }
      }
    }
  }
