/*公共变量*/
$main: #1e59c0;//视觉主色
$minor: #a8b7c7;//次色
$buy: #2bb2ac;//买入、增加颜色
$sell: #fa7a8b;//出售，减少颜色
$text : #333333;//普通文字颜色
$disabled: #a8b7c7;//不可点击颜色
$mainText: #4a4a4a;//主要文字颜色
$minorText: #a8b7c7;//次要文字颜色
$grayText: #DFE5EA;//灰色文字颜色
$warnText: #f70426;//警告文字颜色
$pageBg : #f5f5f5; //页面背景色
$bg: #fff;//背景，可点击文字颜色
$appBg: #050C16;//嵌入app时的背景颜色
$appHeader: #252629;//嵌入app时的头部颜色
$appFont: #d8d8d8;//嵌入app时的字体颜色
$disabledBtText: rbga(255,255,255,0.5);//不可点击按钮文字颜色
$padding1: .1rem;//10边距
$padding2: .2rem;//20边距

/*公共样式*/

//阴影样式1
@mixin shadow1(){
    box-shadow: 0 .1rem .2rem rgba(0,0,0,0.2);
}

//阴影样式2
@mixin shadow2(){
    box-shadow: .05rem .05rem .1rem rgba(0,0,0,0.2);
}

//阴影样式3
@mixin shadow3(){
    box-shadow: 0 .05rem .1rem rgba(0,0,0,0.2);
}
