@import '~css/public.scss';
.fund-list {
  background-color:$pageBg;
  ul {
    li {
      display:flex;
      justify-content: space-between;
      height:.6rem;
      background-color:$bg;
      margin-top:.06rem;
      align-items: center;
      .pay-out {
        color:$warnText;
        font-size:.16re
      }
      .income {
        color:$buy;
      }

      .fund {
        display: flex;
        flex-direction: column;
        justify-content:center;
        h3 {
          color:$mainText;
          font-weight:normal;
          font-size:.16rem;
        }
        h4 {
          color : $minorText;
          font-size : .14rem;
        }
      }
    }
  }
  .loading-more {
    width:100%;
    display: flex;
    justify-content: center;
    color:$disabled;
    font-size:.12rem;
    padding-top:.2rem;
    cursor : pointer;
  }
}
