@import '../../css/public.scss';

.trading-list {
  background-color:$pageBg;
  table {
    width:100%;
    box-sizing: border-box;
    text-align: left;
    tr {
      height:.45rem;
      background-color:$bg;
      border-bottom:.07rem solid $pageBg;
    }
    thead {
      tr td{
        color:$mainText;
        font-size:.14rem;
        font-weight:500;
      }
    }
    tbody {
      .rescind {
        color:$main;
        cursor: pointer;
        padding-right:.15rem;
      }
    }
    .pay-out {
      color:$sell;
    }
    .income{
      color:$buy;
    }
  }
  .more {
    text-align: center;
    height:.31rem;
  }
}
